.intro-content {
    position: relative;
    top: -6rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 100vh;
}

.intro-text-content, .intro-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-text-content h2 {
    font-size: 5rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1.2;
}

.intro-img img,
.intro-img png {
    max-width: 40%;
    height: auto;
}

.promocao-content {
    display: flex;
    max-width: 80rem;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.cursos-content {
    display: block;
    flex-flow: column wrap;

    justify-content: center;
    min-height: 100vh;
    counter-reset: cursoscounter;
}

.cursos-programacao {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
}

.cursos-main-heading h2 {
    margin-bottom: 2rem;
}

.cursos-description {
    padding-bottom: 5rem;
}

.cursos-programacao h3{
    font-size: 3rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 4rem;
}

.cursos-programacao h3::before {
    counter-increment: cursoscounter;
    content: counter(cursoscounter);
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    top: -3rem;
    left: -2rem;
    transform: rotate(5deg);
}

.cadastro-form {
    grid-column: span 2;
    margin-top: 15rem;
}

.cadastro-form .form-grid {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
    top: auto;
}

.form-group {
    flex: 1 1 320px;
}

.form-group label {
    display: block;
    margin-bottom: 1rem;
}

.form-group input {
    border: none;
    background: var(--white-color);
    padding: 1.5rem 2rem;
    width: 100%;
    border-radius: 50px;
    font-size: 2rem;
    outline: none;
}

.form-grid legend {
    font-style: italic;
    font-size: 2rem;
    margin-bottom: 3rem;
}

.form-group button {
    border: 0.5rem solid var(--white-color);
    color: var(--secondary-color);
    background: var(--white-color);
    border-radius: 25px;
    padding: 1.5rem 2rem;
    font-size: 2rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    outline: none;
}

.form-group input:focus {
    box-shadow: 0 0 10px 3px rgb(22, 122, 22);
}

.form-group button:hover {
    border: 0.5rem solid var(--white-color);
    color: var(--white-color);
    background: var(--primary-color);
}

.form-group ::placeholder {
    color: var(--secondary-color);
}

.footer {
    text-align: center;
    font-size: 1.6rem;
}


.footer a {
    color: inherit;
    color: #444;
}

.footer p {
    margin: 0;
    padding: 3rem;
}

.close-menu {
    display: none;
}

@media (max-width: 800px) {
    .intro-content, .cursos-programacao {
        grid-template-columns: 1fr;
    }


.menu {
    bottom: 0;
    text-align: center;
}

.menu-content, .menu-content ul {
    flex-direction: column;
    justify-content: center;
}

.menu-content {
    height: 100vh;
}

.menu {
    display: none;
}

.close-menu-label::after {
    content: ' ☰ ';
    position: fixed;
    z-index: 2;
    top: 0.5rem;
    right: 2rem;
    background: var(--white-color);
    color: var(--primary-color);
    font-size: 2rem;
    line-height: 2rem;
    width: 2rem;
    height: 2rem;
    text-align: center;
    padding: 0.3rem;
    cursor: pointer;
}
/*   × */
.close-menu:checked~.menu {
    display: block;
}

.close-menu:checked~.close-menu-label::after {
    content: ' × ';
}

.menu-spacing {
    display: none;
}
}